<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
  <title>MakeArts | Bienvenue</title>
</head>
<body>
 <div class="wrapper">
<header>
    <div class="header">
     <h1 class="logo">MakeArts</h1>
     <nav>
         <ul>
             <li><a th:href="@{/}" class="active">Accueil</a></li>
             <li><a th:href="@{/ateliers}">Liste des Ateliers</a></li>
             <!-- Ajoutez d'autres liens de navigation selon vos besoins -->
         </ul>
     </nav>
    </div>
 </header>
 
 <main>
     <div class="main">
      <section>
        <div class="section section-home">
          <h2>Bienvenue</h2>
          <p>C'est la page d'accueil.</p>
          <div class="bloc-function">
            <a th:href="@{/ateliers}">Liste des Ateliers</a>
          </div>
        </div>
    </section>
 </div>
  </main>
  <footer>
    <div class="footer">
      <p>
        <span>MakeArts&copy;2023Tous droits réservés</span> 
        <span>Ricardo Samedi</span>
      </p>
    </div>
 </footer>
</div>
</body>
</html>
 